.ios-dlgOverlay
{
    box-sizing: border-box; 
    display: none;
    position: absolute;

    top: 0; 
    left: 0;
    width: 100vw; 
    height: 100vh;  

    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.ios-dlgFrame
{
    box-sizing: border-box; 
    display: flex;
    position: relative;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

	flex-flow: column nowrap;
    flex-shrink: 0;

    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: arial, sans-serif;    

    border: solid 1px gray;
/*
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
*/
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background: rgb(255, 255, 255);
}
.ios-dlgTitle
{
    box-sizing: border-box; 
    display: flex;
    position: relative;

	flex-flow: row nowrap;
	align-items: stretch; 
    flex-shrink: 0;

    font-size: 12px;

    color: black;
    background: white;

    width: 100%;
    height: 25px;
}
.ios-dlgContent
{
    box-sizing: border-box; 
    display: flex;
    position: relative;

	flex: 1 1 auto;
    flex-shrink: 0;

    width: 100%;

    background: white;
}
.ios-dlgFooter
{
    box-sizing: border-box; 
    display: flex;
    position: relative;

	flex-flow: row nowrap;
	align-items: stretch; 
    flex-shrink: 0;

    width: 100%;
    height: 30px;

    background-color: white;
}
.ios-dlgIcon
{
    box-sizing: border-box; 
    display: flex;

	flex-flow: row nowrap;
	align-items: center; 
	justify-content: center;
    flex-shrink: 0;

    height: 25px;

    font-size: 14px;
    color: black;
}
.ios-dlgButton
{
    width: 80px;
    height: 20px;

    margin: 0 4px 0 4px;
    padding: 0;

    border: solid 1px transparent;
    flex-shrink: 0;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ios-dlgButton:hover
{
    border-color: #A0A0A0;
}
.ios-dlgTitle.Warning
{
    background-color: yellow;
}
.ios-dlgTitle.Info
{
    background-color: blue;
}
.ios-dlgTitle.Success
{
    background-color: green;
}
.ios-dlgTitle .Left .ios-dlgIcon,
.ios-dlgFooter .Left .ios-dlgIcon 
{
    width: 25px;
}
.ios-dlgTitle .Right .ios-dlgIcon,
.ios-dlgFooter .Right .ios-dlgIcon 
{
    width: 25px;
}
.ios-dlgIcon:hover
{
    cursor: pointer;
}
.ios-dlgIcon:active
{
    background-color: RGB(210,210,210);
}
.ios-dlgTitle .ios-dlgIcon.dlgMinimize svg stop:nth-child(1),
.ios-dlgTitle .ios-dlgIcon.dlgMinimize svg stop:nth-child(2)
{
    stop-color: #FFBF2F;
}
.ios-dlgTitle .ios-dlgIcon.dlgMaximize svg stop:nth-child(1),
.ios-dlgTitle .ios-dlgIcon.dlgMaximize svg stop:nth-child(2)
{
    stop-color: #28CA41;
}
.ios-dlgTitle .ios-dlgIcon.dlgClose svg stop:nth-child(1),
.ios-dlgTitle .ios-dlgIcon.dlgClose svg stop:nth-child(2)
{
    stop-color: #FD7973;
}
/*
.ios-dlgTitle .ios-dlgIcon.dlgMinimize svg:hover stop:nth-child(1),
.ios-dlgTitle .ios-dlgIcon.dlgMinimize svg:hover stop:nth-child(2)
{
    stop-color: #a75d09;
}
.ios-dlgTitle .ios-dlgIcon.dlgMaximize svg:hover stop:nth-child(1),
.ios-dlgTitle .ios-dlgIcon.dlgMaximize svg:hover stop:nth-child(2)
{
    stop-color: #1b4202;
}
.ios-dlgTitle .ios-dlgIcon.dlgClose svg:hover stop:nth-child(1),
.ios-dlgTitle .ios-dlgIcon.dlgClose svg:hover stop:nth-child(2)
{
    stop-color: #A6342E;
}
*/
/*
.ios-dlgTitle .ios-dlgIcon.dlgMinimize svg path:nth-of-type(2),
.ios-dlgTitle .ios-dlgIcon.dlgMaximize svg path:nth-of-type(2),
.ios-dlgTitle .ios-dlgIcon.dlgClose svg path:nth-of-type(2)
{
    stroke: black;
}
*/
.ios-dlgTitle .ios-dlgIcon.dlgMinimize svg:hover path:nth-of-type(2)
{
    stroke: #a75d09;
}
.ios-dlgTitle .ios-dlgIcon.dlgMaximize svg:hover path:nth-of-type(2)
{
    stroke: #1b4202;
}
.ios-dlgTitle .ios-dlgIcon.dlgClose svg:hover path:nth-of-type(2)
{
    stroke: #A6342E;
}
.ios-dlgTitle .Left,
.ios-dlgFooter .Left
{
    box-sizing: border-box; 
    display: flex;
    position: absolute;

	flex-flow: row nowrap;
	align-items: center; 
	justify-content: flex-start;
    flex-shrink: 0;

    height: 100%;
    left: 0px;
}
.ios-dlgTitle .Middle,
.ios-dlgFooter .Middle
{
    box-sizing: border-box; 
    display: flex;
    position: absolute;

	flex-flow: row nowrap;
	align-items: center; 
    flex-shrink: 0;

    left: 0px;
    width: 100%;
    height: 100%;
}
.ios-dlgTitle .Text,
.ios-dlgFooter .Text
{
    color:RGB(100,100,100);
}
.ios-dlgTitle .Right,
.ios-dlgFooter .Right
{
    box-sizing: border-box; 
    display: flex;
    position: absolute;

	flex-flow: row nowrap;
	align-items: center; 
    flex-shrink: 0;

    height: 100%;
    right: 0px;

    color: white;
}
.ios-dlgTitle .Right .ios-dlgIcon,
.ios-dlgFooter .Right .ios-dlgIcon
{
    margin-left: 0px;
}
.ios-dlgMessage
{
    flex-shrink: 0;
    margin: 10px 10px 10px 10px;
}
